{{define "articles"}}
	{{range .Articles}}
	<div class="card mb-4">
		{{if $.IsAdmin}}
		<div class="card-header">
			<a href="/update/article?id={{.ID}}" class="link-light link-underline-opacity-0">Update</a> |
			<a hx-delete="/delete/article?id={{.ID}}" class="link-light link-underline-opacity-0" style="cursor: grab;">Delete</a>
		</div>
		{{end}}
		<div class="card-body">
			<h2><a href="/article/{{.Slug}}" class="link-light link-underline-opacity-0">{{.Title}}</a></h2> 
			<p class="mb-1">{{.Excerpt}}</p>
		</div>
		<div class="card-footer text-body-secondary">
			Published by {{.Author}} on {{.CreatedAt.String}} {{if .UpdatedAt.String}}| Updated on {{.UpdatedAt.String}}{{end}}
		</div>
	</div>
	{{else}}
	<h1>No articles found</h1>
	<h4>The articles that you create will be shown here</h4>
	{{end}}
{{end}}
